<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barra de progreso</title>
  <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../styles/proyecto2.css">
</head>

<body>
  <main>
    <header>
      <h1>Barra de progreso</h1>
    </header>
    <section class="content">
      <div class="contentProgreso">
        <div class="progreso" id="progreso"></div>
        <div class="circulo activo">1</div>
        <div class="circulo">2</div>
        <div class="circulo">3</div>
        <div class="circulo">4</div>
      </div>
      <div class="btns">
        <button class="btn" id="btnPrev">Prev</button>
        <button class="btn" id="btnNext">Next</button>
      </div>
    </section>
    
    <footer>
      <section class="btnVolver">
        <a href="../index.html">Volver al inicio</a>
      </section>
    </footer>
  </main>
  <script src="../scripts/proyecto2.js"></script>
</body>

</html>