<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barra de progreso</title>
  <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../styles/proyecto3.css">
</head>

<body>
  <main>
    <nav class="nav" id="nav">
      <ul>
        <a href="../index.html"><iconify-icon icon="ion:home"></iconify-icon> Inicio</a>
        <a href=""><iconify-icon icon="ic:baseline-whatsapp"></iconify-icon> Contacto</a>
      </ul>
    </nav>
    <div class="contenedor" id="contenedor">
      <section class="articulo">
        <h1>
          PLATO TIPICO
        </h1>
        <article>
          La bandeja paisa es uno de los platos más representativos de la gastronomía colombiana, especialmente en la región de Antioquia. Se caracteriza por su abundancia y la variedad de sabores que ofrece, siendo un verdadero festín para quienes lo disfrutan.
        </article>
        <div class="secImg">
          <h3>Bandeja paisa</h3>
          <img src="../img/proyecto3/1570939e9f814bec82c668279513c94f_BANDEJA-PAISA.jpg" alt="">
        </div>
        <article>
          Este plato tradicional incluye una mezcla de ingredientes como carne molida, chicharrón, arroz, frijoles rojos, huevo frito, plátano maduro frito, aguacate y arepa. A menudo se acompaña con morcilla, un embutido de sangre. Cada componente aporta su propio sabor y textura, creando una experiencia culinaria rica y completa que refleja la rica tradición culinaria de Colombia.
        </article>
      </section>
      <div class="circulo">
        <button class="open " id="open"><iconify-icon icon="ic:round-menu"></iconify-icon></button>
        <button class="close " id="close"><iconify-icon icon="iconamoon:close-bold"></iconify-icon></button>
      </div>
    </div>
  </main>
  <script src="../scripts/proyecto3.js"></script>
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</body>

</html>