<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Busqueda Escondido</title>
  <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../styles/proyecto4.css">
</head>

<body>
  <main>
    <div class="buscar">
      <input type="text" name="btnBuscar" class="input" placeholder="Buscar....">
      <button class="btnBuscar" id="btnBuscar">
        <iconify-icon icon="ic:outline-search"></iconify-icon>
      </button>
    </div>
<footer>
      <section class="btnVolver">
        <a href="../index.html">Volver al inicio</a>
      </section>
    </footer>
  </main>
  <script src="../scripts/proyecto4.js"></script>
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</body>

</html>