<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarjetas expandibles</title>
  <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../styles/proyecto1.css">
</head>

<body>
  <main>
    <header>
      <h1>Tarjetas expandibles</h1>
    </header>
    <section>
      <div class="contentImg" id="contentImg">
        <img class="activa" src="../img/proyecto1/img1.webp" alt="DBZ.img">
        <img src="../img/proyecto1/img2.webp" alt="DBZ.img">
        <img src="../img/proyecto1/img3.webp" alt="DBZ.img">
        <img src="../img/proyecto1/img4.webp" alt="DBZ.img">
      </div>
    </section>
    <footer>
      <section class="btnVolver">
        <a href="../index.html">Volver al inicio</a>
      </section>
    </footer>
  </main>
  <script src="../scripts/proyecto1.js"></script>
</body>

</html>