@import url(./styles.css);

header {
  background-color: rgb(228, 121, 21);
}
section {
  height: 75%;
}
.contentImg{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
img{
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  width: 5%;
  transition: all 1s;
  height: 100%;
}
.activa{
  width: 75%;
  object-fit: cover;
  object-position: top;
  height: 100%;
}