:root{
  --azul: #15223C;
  --naranja: #e08d21;
}
*{
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--azul);
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  background-color: var(--naranja);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1{
  height: 100px;
  display: grid;
  place-content: center;
}
.presentacion{
  background-color: rgb(201, 201, 201);
  color: black;
  width: 95%;
  border-radius: 10px;
  padding: 10px;
}
.presentacion h4{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}
.lista{
  width: 90%;
}
.lista li{
  color: rgb(151, 158, 158);
  margin: 10px;
}
.lista a{
  color: white;
  text-decoration: none;
  width: 100%;
}
.lista a:hover, .lista li:hover{
  color: var(--naranja);
  text-decoration: none;
}
footer{
  display: grid;
  place-content: center;
  height: 10%;
}
.btnVolver a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  background-color: var(--naranja);
  color: white;
  text-decoration: none;
}
.btnVolver :hover{
  transition: all 1s;
  transform: scale(1.2);
}
iframe{
  position: absolute;
  left: 50%;
}